body {
    background-color: black;
    
}

a {
    color: white;
    text-decoration: none;
    font-family: 'VT323', monospace;
    font-size: 48px;
}

#background_text_wrapper {
    font-family: 'VT323', monospace;
    font-size: 36px;
    color: white;
}